.crystal {
  background: rgba(148, 147, 147, 0.5);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(.8rem);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background-color: rgba(255, 255, 255, 0.8);
}

/*note that width DOES override min-width*/
.key {
  margin: .4rem;
  min-width: 3vw;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: .5rem;
  border: .1rem solid black;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.key-text {
  font-size: 1rem;
}

/*for spaces*/
.key-hidden {
  border: none;
  width: .5vw;
  height: .5vw;

}

.key:active {
  transform: scale(0.95);
}