.crystal {
  background: rgba(148, 147, 147, 0.5);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(.8rem);
  -webkit-backdrop-filter: blur(1rem);
  border: .5rem solid rgba(255, 255, 255, 0.3);
}


body {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
}


.key {
  margin: 2px;
  min-width: 65px;
  padding: 10px;
  border-radius: .75rem;
  border: solid .2rem transparent;
  cursor: pointer;
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.1), .1rem .1rem .5rem rgba(0, 0, 0, 0.2);
  text-shadow: .01rem .01rem .1rem rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;

}

.key-end {
  min-width: 70px;
}

.key-scroll-lock {
  min-width: 70px;
}

.key-up {
  margin-left: 110px;
}

.key-backspace {
  min-width: 45px;
  margin-right: 45px;
}


.key-backslash {
  min-width: 75px;
  margin-right: 43px;

}

.key-capslock {
  min-width: 110px;

}


.key-tab {
  min-width: 90px;

  border-radius: .5rem;
}

.key-ctrl,
.key-alt,
.key-win,
.key-fn,
.key-dot {
  min-width: 75px;
}

.key-enter {
  min-width: 125px;

  border-radius: .5rem;
}

.key-text {
  font-size: 1rem;
}


.key:active {
  transform: scale(0.95);
}

.key-left {
  margin-left: 40px;
}

/*align self prevents auto scaling with the prev colors columns*/
.keyboard {
  border: .25rem solid black;
  border-radius: .5rem;
  align-self: flex-start;
  width: 1300px;
}

.key-l-shift,
.key-r-shift {
  min-width: 152px;
  border-radius: .5rem;
}

.key-r-shift {


  border-radius: .5rem;
}

.key-space {
  min-width: 455px;
  border-radius: .5rem;
}

.key-f1 {
  margin-left: 36px;
}

.key-f5 {
  margin-left: 36px;
}

.key-f9 {
  margin-left: 35px;
}

.key-f12 {
  margin-right: 35px;
}

.key-prtsc {
  margin-left: 10px;
}

.key-ins {
  margin-left: 1px;
}

.key-del {
  margin-left: 1px;
}

.key-dot {
  min-width: 65px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 2.2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-dark {
  background-color: #fefbfb;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  bottom: .1rem;
  top: .05rem;
  left: .1rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-dark:before {
  background-color: black;
}



input:checked+.slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 5rem;
}

.slider.round:before {
  border-radius: 5rem;
}