.crystal {
  background: rgba(148, 147, 147, 0.5);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(.8rem);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
}

/*note that width DOES override min-width*/
.key,
.key-f1,
.key-f5,
.key-f9,
.key-prtsc,
.key-ins,
.key-del,
.key-up,
.key-left {
  margin: .1vw;
  min-width: 3vw;
  padding: 1vh;
  border-radius: .5rem;
  border: solid .2rem transparent;
  cursor: pointer;
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.1), .1rem .1rem .5rem rgba(0, 0, 0, 0.2);
  text-shadow: .01rem .01rem .1rem rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

.key-up {
  margin-left: 3.8vw;
}

.key-backspace {
  min-width: 4.6vw;
  padding: 1.2vh;
  border-radius: .5rem;
}

.key-backslash {
  min-width: 3.8vw;
  padding: 1.2vh;
  border-radius: .5rem;
}

.key-capslock {
  min-width: 5vw;
  padding: 1.2vh;
  border-radius: .5rem;

}

.key-ctrl,
.key-alt,
.key-alt,
.key-ctrlr,
.key-dot,
.key-fn,
.key-win {
  min-width: 4vw;
  padding: 1.2vh;
  border-radius: .5rem;
  margin: .1vw;
}

.key-tab {
  min-width: 4vw;
  padding: 1.2vh;
  border-radius: .5rem;
}

.key-left {
  margin-left: .5vw;
}

.key-enter {
  min-width: 6vw;
  padding: 1.2vh 1vw 1.2vh 1vw;
  border-radius: .5rem;
}

.key-text {
  font-size: 1rem;
}

.key-hidden {
  border: none;
  background-color: transparent;
}

.key:active {
  transform: scale(0.95);
}

/*align self prevents auto scaling with the prev colors columns*/
.keyboard {
  border: .25rem solid black;
  border-radius: .5rem;
  align-self: flex-start;
}

.key-shift {
  min-width: 6.65vw;
  padding: 1.2vh;
  border-radius: .5rem;
}

.key-space {
  min-width: 17vw;
  padding: 1.2vh;
  border-radius: .5rem;
}

.key-f1 {
  margin-left: 3vw;
}

.key-f5 {
  margin-left: 1vw;
}

.key-f9 {
  margin-left: 1vw;
}

.key-prtsc {
  margin-left: .5vw;
}

.key-ins {
  margin-left: .6vw;
}

.key-del {
  margin-left: .6vw;
}